<!--
  Generated template for the Personas page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <basic-header title="Personas"></basic-header>
</ion-header>

<ion-content padding>
  
  <button ion-button (click)="simpleAddPersona()">Click!</button>
  <button ion-button (click)="toggleEditable()">edit or not</button>
  <ion-list>
    <!--<persona (changedPersona)="changedPersona($event)" (clickedPerson)="clickedPerson($event)" *ngFor="let person of persons | async" [person]="person"></persona>-->
    <ion-card *ngFor="let person of persons | async">
      <ion-card-header>
        <button ion-item  (click)="clickPersona(person)">{{person.$key}} -- {{person.jobTitle}}</button>
        <ion-item>{{person.pullQuote}}</ion-item>
      </ion-card-header>
      <img [src]="person.picUrl">
      <ion-card-content>
        <ion-row>
          <ion-item>{{person.demographics}}</ion-item>
        </ion-row>
        <ion-row>
          <ion-col><ion-item>{{person.goals}}</ion-item></ion-col>
          <ion-col><ion-item>{{person.concerns}}</ion-item></ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!--<ion-grid padding>
    <ion-row *ngFor="let person of persons | async">
      <ion-item>{{person.$key}}</ion-item>
      <ion-item><img [src]="person.picUrl"></ion-item>

    </ion-row>
  
  </ion-grid>-->
  <!--<ion-item>{{(currentPersons | async) | json}}</ion-item>-->
  <!--<ion-item>{{currentPersons | json}}</ion-item>-->
 <!-- <ion-grid>
    <ion-list>
      
      <ion-card *ngFor="let person of persons | async">
       
        <ion-card-header>{{person|json}}</ion-card-header>
        <img [src]="person.picUrl">
        <ion-card-content>
          <ion-row>
            <ion-item>Demographics</ion-item>
          </ion-row>
          <ion-row>
            <ion-col><ion-item>Goals</ion-item></ion-col>
            <ion-col><ion-item>Concerns</ion-item></ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-grid>-->
  <!--<img src="https://firebasestorage.googleapis.com/v0/b/entre-de2b0.appspot.com/o/test1%2Fmlb.png?alt=media&token=80bbcd09-06ad-495c-b321-9d712d4bbe19">-->
  <ion-fab right bottom>
    <button ion-fab mini class="adder" (click)="addPersonaButton()"><ion-icon class="stack" name="add-circle"></ion-icon><div class="stack">Persona</div></button>
  </ion-fab>

</ion-content>
