$fab-list-margin: 40px;
page-home {
    .adder[mini] {
        margin: 8px;
        width: 5em;
        height: 5em;
    }
    .space {
        margin: 5px;
    }
    .fab-cont {
        margin: 1.2em;
    }
    
   
}


